

/*Inicio de header logo y titulo*/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8892c6;
    }

/*Inicio de header logo y titulo*/

header {
    display: flex; /* Utiliza flexbox para el diseño del header */
    align-items: center; /* Alinea los elementos del header verticalmente al centro */
    justify-content: space-between; /* Distribuye los elementos del header con espacio entre ellos */
    position: fixed; /* Fija el header en la parte superior de la página */
    top: 0; /* Posiciona el header en la parte superior */
    width: 100%; /* Establece el ancho del header al 100% del contenedor */
    background-color: rgb(51, 178, 255); /* Establece el color de fondo del header */
    opacity: 1; /* Establece la opacidad del header */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
} 

.logo {
    display: flex; /* Utiliza flexbox para el diseño del logo */
    align-items: center; /* Alinea los elementos del logo verticalmente al centro */
    width: 8%;
}

.logo img {
    width: 50%; /* Establece el ancho de la imagen del logo al 50% del contenedor */
    margin-right: 25%; /* Establece un margen derecho del 25% para la imagen del logo */
    display: block; /* Establece la imagen del logo como un bloque */
}


/* NAV */

.menu {
    display: flex; /* Utiliza flexbox para el diseño del menú */
    justify-content: space-around; /* Distribuye los elementos del menú con espacio entre ellos */
    align-items: center; /* Alinea los elementos del menú verticalmente al centro */
    padding: 0,5%; /* Establece un padding vertical de 10px para el menú */
    width: 100%; /* Establece el ancho del menú al 100% del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del menú */
}

.menu a {
    padding: 1% 2%; /* Establece un padding de 10px vertical y 20px horizontal para los enlaces del menú */
    text-decoration: none; /* Elimina la decoración del texto de los enlaces del menú */
    color: white; /* Establece el color del texto de los enlaces del menú a blanco */
    font-size: 150%; /* Establece el tamaño de la fuente de los enlaces del menú */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); /* Establece una sombra para el texto de los enlaces del menú */
    font-family: Cambria, Georgia, serif; font-size: 24px;; /* Establece la fuente de los enlaces del menú */
    transition: background-color 0.3s, color 0.3s; /* Establece una transición para el color de fondo y el color del texto de los enlaces del menú */
}

.menu a:hover {
    color: #ffbf00; /* Establece el color del texto de los enlaces del menú al pasar el ratón */
    background-color: rgb(51, 178, 255); /* Establece el color de fondo de los enlaces del menú al pasar el ratón */
}






/***************Section y main***************/

main {
    grid-template-columns: 3fr 1fr; /* Define una cuadrícula con dos columnas, la primera tres veces más ancha que la segunda */
    display: grid; /* Utiliza flexbox para el diseño del cuadro */
    flex-direction: column;
}

section {
    padding-top: 3%;
    padding-left: 1%;
    background-color: #8892c6;
    padding-bottom: 7%;
}










/***************Homepage***************/

.streaming {
    display: flex; /* Utiliza flexbox para el diseño del cuadro */
    flex-direction: column; /* Alinea el contenido en columna */
    align-items: center; /* Alinea el contenido al inicio (izquierda) */
    justify-content: flex-start; /* Alinea el contenido verticalmente al inicio (arriba) */

}

.streaming img {
    width: 40%; /* La imagen ocupa el 100% del ancho del cuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Establece un margen inferior de 10px para la imagen */
}

.streaming h1 {
    text-align: center; /* Alinea el texto a la izquierda */
    color: whitesmoke; /* Establece el color del texto */
    text-shadow: rgb(105, 118, 119);
    font-size: 2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0%;
}



.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px 0;
}

.progress-bar {
    width: 63%;
    height: 30px;
    background-color: #006699;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border-radius: 25px 0 0 25px;
}

.progress-text {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em; /* Tamaño más grande */
    font-weight: bold; /* Letra más gruesa */
    color: #808080; /* Color gris */
    margin-bottom: -2%; /* Espacio adicional debajo del texto */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Efecto de brillo */
}


.partidos{

}






















.titulonoticias {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    color: #1a1a1a;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
    background: linear-gradient(to right, #003366, #006699);
    -webkit-background-clip: text;
    color: transparent;
}

.noticias{
    width: 95%; /* Establece el ancho del section al 95% del contenedor */
    text-align: center; /* Alinea el texto del section al centro */
    padding: 10px; /* Establece un padding de 10px para el section */
    display: grid; /* Utiliza grid para el diseño del section */
    grid-template-columns: repeat(2, 1fr); /* Define una cuadrícula con dos columnas de igual tamaño */
    gap: 20px; /* Establece un espacio de 20px entre los cuadros */
}

.cuadro {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra oscura */
    display: flex; /* Utiliza flexbox para el diseño del cuadro */
    flex-direction: column; /* Alinea el contenido en columna */
    align-items: flex-start; /* Alinea el contenido al inicio (izquierda) */
    justify-content: flex-start; /* Alinea el contenido verticalmente al inicio (arriba) */
    font-size: 1.5em; /* Establece el tamaño de la fuente */
    color: white; /* Establece el color del texto a blanco */
    position: relative; /* Necesario para posicionar el enlace absolutamente */
    border-width: 0; /* Elimina el borde */
    border-radius: 15px; /* Redondea las esquinas */
    box-shadow: 0 0 15px rgba(0, 51, 102, 0.7); /* Difumina el marco con sombra azulada */
}

.cuadro img {
    width: 100%; /* La imagen ocupa el 100% del ancho del cuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Establece un margen inferior de 10px para la imagen */
}

.cuadro p {
    text-align: justify; /* Justifica el texto */
    padding-left: 4%;
    padding-right: 4%;
    padding-top: -2%;
    font-family: 'Arial', sans-serif; /* Establece la fuente del párrafo */
    font-size: 1.8vw; /* Establece el tamaño de la fuente del párrafo en unidades vw */
}

.cuadro h1 {
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0 10px; /* Establece un margen horizontal de 10px para el título */
    text-decoration: underline; /* Subraya el título */
    font-family: 'Arial', sans-serif; /* Establece la fuente del título */
    text-shadow: 2px 2px 5px gray; /* Establece una sombra para el texto del título */
    font-size: 2.5vw; /* Establece el tamaño de la fuente del título en unidades vw */
    color: #354255;
}

.Noticia1, .Noticia2, .Noticia3, .Noticia4 {
    position: absolute; /* Posiciona el enlace dentro del cuadro */
    top: 0; /* Establece la posición superior del enlace al 0 */
    left: 0; /* Establece la posición izquierda del enlace al 0 */
    width: 100%; /* Establece el ancho del enlace al 100% del contenedor */
    height: 100%; /* Establece la altura del enlace al 100% del contenedor */
    color: #333; /* Establece el color del texto del enlace */
    border: none; /* Elimina el borde del enlace */
    text-decoration: none; /* Elimina la decoración del texto del enlace */
}


/***************Clasificacion-XSL***************/



h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

table {
    padding-left: 10%;
    width: 90%;
    max-width: 100em;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    tr:nth-child(even) {
        background-color: transparent;
    }
    tr:hover {
        background-color: transparent;
    }
}






/***************Contacto***************/
.container {
    grid-template-columns: 3fr 1fr; /* Define una cuadrícula con dos columnas, la primera tres veces más ancha que la segunda */
    display: flex; /* Utiliza flexbox para el diseño del cuadro */
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}



/*Aside*/

aside {
    position: fixed; /* Fija el aside en la pantalla */
    right: 1%; /* Posiciona el aside a la derecha */
    top: 8.5%; /* Posiciona el aside en la parte superior */
    height: 100%; /* Establece la altura del aside al 100% de la pantalla */
    width: 22%; /* Establece el ancho del aside al 20% del contenedor */
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Añade una sombra para darle un poco de profundidad */
}

aside img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    aside {
        width: 100%; /* En pantallas pequeñas, el aside ocupará todo el ancho */
        height: auto; /* La altura se ajustará automáticamente */
        position: relative; /* Cambia la posición a relativa para que no se superponga al contenido */
    }
}




/***************FOOTER FINAL***************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 178, 255); /* Establece el color de fondo del footer */
    color: white;
    text-align: center;
    padding: 1em;
}



/***********************************************************************************************************
/***********************************************************************************************************
*****************************************responsive********************************************************
**********************************************************************************************************/